---
import Page from "@layouts/uona.astro";
import Header from "@components/Header/index.astro";
import Footer from "@components/Footer/index.astro";

import Forms from "@components/Forms/index.astro";

import Gallery from "@components/Gallery/index.astro";
import Tools from "@components/Tools/index.astro";
// import Aside from "@components/Aside";
// import List from "@components/List";
import Text from "@components/Text";
// import Btn from "@components/Button";
// import Accordion from "@components/Accordion";
// import ContactForm from "@components/ContactForm";
---

<style>
  #video {
    background-image: url(/images/world-paint.jpg);
    background-attachment: unset;
    background-size: cover;
    background-position: center;
    height: 300px;
    display: none;
  }
</style>

<Page layout="hm fixed" title="Forms | University of North America">
  <Header />
  <main el="main">
    <section id="video">
      <!-- <div class="maintitle"><div>International Student</div></div> -->
    </section>
    <section>
      <ul class="section" style="--bg-color:#4067b1;--color:#fff;">
        <div>
          <h1 class="heading">Forms</h1>
          <div class="paddingReg">
            <Forms />
          </div>
          <div class="flex">
            <a
              href="https://una-web.scansoftware.com/cafeweb/tapestry?page=Degree%20Application"
              class="button"
              style="--bg-color:#fbd504;--color:#000;--box-shadow:0 0 0 2px var(--bg-color);"
              >apply today</a
            >
          </div>
        </div>
      </ul>
    </section>
    <Footer />
  </main>
</Page>
