---
import Page from "@layouts/dashboard.astro";
import Aside from "@components/Aside";
import List from "@components/List";
import Text from "@components/Text";
import Btn from "@components/Button";
import Accordion from "@components/Accordion";
import { post } from "@util/fetch";
// import { getSession } from "auth-astro/server";
import { to } from "@util/navigation";
// import GenerateTestPage from "@components/Pages/generator/ui";
import BusinessCards from "./businesscards/index.astro";

export const prerender = false;
import { getSession } from "auth-astro/server";
import API from "@util/api";
let session = await getSession(Astro.request);
// if (session == null) return Astro.redirect("/login");
if (session != null) {
  let api = new API();
  let user = await api.users.info(session.user.email);
  if (user.email == null) Astro.redirect("/login");

  // check user access
  const userAccess = await api.access.get({
    uid: user.id,
    type: "business cards",
  });
  const hasAccess = userAccess.access[0]?.access_level == "admin";
  if (hasAccess == false && user.type != "admin")
    return Astro.redirect("/login/dashboard/unauthorized");
} else {
  return Astro.redirect("/login");
}
---

<Page layout="am fixed">
  <Aside client:only="react" />
  <!-- <Aside currentPage="ui" client:only="react"/> -->
  <main el="main">
    <List el="xsm p-lg" style={{ paddingLeft: 16, color: "white" }}>
      <Text as="h4" color="currentColor">Business Cards</Text>
      <BusinessCards />
    </List>
  </main>
</Page>
