---
import Page from "@layouts/page.astro";
import Aside from "@components/Aside";
import List from "@components/List";
import Text from "@components/Text";
import Btn from "@components/Button";
import Accordion from "@components/Accordion";
import { post } from "@util/fetch";
// import { getSession } from "auth-astro/server";
import { to } from "@util/navigation";
// import GenerateTestPage from "@components/Pages/generator/ui";
---

<Page layout="am fixed">
	<Aside client:only="react"/>
    <!-- <Aside currentPage="ui" client:only="react"/> -->
	<main el="main">
		<List el="xsm p-lg" style={{ paddingLeft: 16, color: 'white' }}>
			<Text as="h4" color="currentColor">University of North America</Text>
		</List>
	</main>
</Page>
