/*----- Containers -----*/
[el^=list] {
    display: grid;
    gap: 0;
    grid-auto-flow: row;
    align-content: flex-start;
  }
  [el^=list][el*="column"] {
    /*--- or call it "list-wrap" or "list-horz" or "list-ltr" or "list-column" ---*/
    grid-auto-flow: column;
    justify-content: flex-start;
  }
  [el^=list][el*="fill"] {
    --min-size: 280px;
    grid-auto-flow: unset;
    grid-template-columns: repeat(auto-fill, minmax(var(--min-size), 1fr));
  }
  [el^=list][el*="between"] {
    justify-content: space-between;
    align-content: space-between;
  }
  [el^=list][el*="stretch"] {
    justify-content: space-between;
    grid-template-columns: auto-fill;
    justify-content: unset;
  }
  [el^=list][el*="stretch"] > * {
    width: 100%;
  }
  /* alignment */
  [el^=list][el*="center"]{
    justify-items: center;
  }
  [el^=list][el*="column"][el*="center"]{
    align-items: center;
  }
  @media (max-width:800px) {
    [el^=list][el*="alt"] {
      grid-auto-flow: column;
    }
    [el^=list][el*="column"][el*="alt"] {
      grid-auto-flow: row;
    }
    [el^=list][el*="switch"] {
      direction: rtl;
      justify-content: left;
    }
  }
  
  /*--- Container Spacing ---*/
  [el^=list][el*="xlg"] {
    gap: var(--space-xlg);
  }
  [el^=list][el*="lg"] {
    gap: var(--space-lg);
  }
  [el^=list][el*="md"] {
    gap: var(--space-md);
  }
  [el^=list][el*="sm"] {
    gap: var(--space-sm);
  }
  [el^=list][el*="xsm"] {
    gap: var(--space-xsm);
  }
  [el^=list][el*="xxsm"] {
    gap: var(--space-xxsm);
  }
  