---
import Page from "@layouts/uona.astro";
import Header from "@components/Header/index.astro";
import Footer from "@components/Footer/index.astro";

import Gallery from "@components/Gallery/index.astro";
import Tools from "@components/Tools/index.astro";
// import Aside from "@components/Aside";
// import List from "@components/List";
import Text from "@components/Text";
// import Btn from "@components/Button";
// import Accordion from "@components/Accordion";
// import ContactForm from "@components/ContactForm";

let msmdaBG = (
  await Astro.glob(
    "/public/files/uploads/backgrounds/graduate/msmda/*.{jpg,png,gif}"
  )
)[0];
---

<style>
  #video {
    /* background-image: url(<?php echo $background; ?>); */
    background-size: cover;
    background-position: center;
    height: 500px;
  }
  .course {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 0;
  }
  .course p {
    margin: 0;
  }
  .course li {
    display: flex;
    background: #fff;
    width: 100%;
    max-width: 920px;
    box-sizing: border-box;
    margin: 5px;
    box-shadow:
      0 16px 24px 2px rgba(0, 0, 0, 0.04),
      0 6px 30px 5px rgba(0, 0, 0, 0.02),
      0 8px 10px -5px rgba(0, 0, 0, 0.1);
  }
  .course li div {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 15px;
  }
  .course li div:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 32px;
    background: #4067b1;
    font-size: 18px;
    color: #fff;
  }
  .full {
    box-sizing: border-box;
  }
  #catagory {
    background: transparent;
    box-shadow: 0 0 0;
  }
  #catagory div {
    background: transparent;
    max-width: inherit;
    color: #4067b1;
    font-weight: bold;
    padding: 0 15px;
    font-size: 20px;
  }
  #catagory div:nth-child(2) {
    align-items: flex-end;
  }
</style>

<Page layout="hm fixed" title="MSMDA | University of North America">
  <Header />
  <main el="main">
    <section
      id="video"
      style={{ backgroundImage: `url(${msmdaBG.default.src})` }}
    >
      <div class="maintitle content">
        <div><p>Management &amp; Data Analytics</p></div>
      </div>
    </section>
    <section>
      <ul class="section" style="--bg-color:#4067b1;--color:#fff;">
        <div>
          <h1 class="heading content">
            Master of Science in Management and Data Analytics (MSMDA)
          </h1>
          <div class="paddingReg content">
            <span class="bold">CIP Code: 52.1301</span><br /><br />
            <span class="bold"
              >This program qualifies for the STEM designation.</span
            ><br /><br />
            The goal of the MSMDA program is to prepare analysts who are able to
            identify and frame business decisions, including acquisition, management,
            and utilization of big and fast-moving streams of data. Objectives emphasize
            the creation, analysis, solution, interpretation, and presentation of
            models using appropriate mathematical approaches and analytical tools
            by providing an integration of these concepts and skills. The breadth
            and depth of management and data analytics theories and applications
            support the ability of graduates to become future industry leaders who
            can effectively design and manage decision models that can be utilized
            in the global marketplace.
          </div>
          <div class="flex">
            <a
              class="button"
              href="/graduate"
              style="--box-shadow:0 0 0 2px var(--color);">More Programs</a
            >
            <a
              href="https://una-web.scansoftware.com/cafeweb/tapestry?page=Degree%20Application"
              class="button"
              style="--bg-color:#fff;--color:#4067b1;--box-shadow:0 0 0 2px var(--bg-color);"
              >apply today</a
            >
          </div>
        </div>
      </ul>
      <ul class="section" style="--bg-color:#fff;">
        <div>
          <h1 class="heading content">Program Objectives</h1>
          <div class="paddingReg content">
            <span class="bold"
              >Together, the 12 MSMDA courses provide the knowledge and skills
              that enable graduates to advance in management and data analyst
              career fields. Specifically, each group of courses in the MSMDA
              curriculum measure a student’s ability to:</span
            ><br /><br />
            <ul>
              <li>
                Apply foundational theories of management and data analytics,
                which is demonstrated by successful completion of the exercises
                and projects required in the common- and program-core courses,
                and capstone course;&nbsp;
              </li><li>
                Formulate organizational problems to be solved using analytics,
                which is demonstrated by successful completion of analyses and
                creation of models required in the program core and elective
                courses;&nbsp;
              </li><li>
                Represent data and inform through effective reporting, written
                and oral communication, and representation of visual analytics,
                which are required in the program core and electives courses;
                and
              </li><li>
                Develop models using both structured and unstructured data from
                multiple sources, appropriate analytic tools, and ethical
                considerations, which are required in the program core and
                electives courses, and capstone course.&nbsp;<br />
              </li>
            </ul>
          </div>
        </div>
      </ul>
      <ul class="section">
        <div>
          <h1 class="heading content">Program Length</h1>
          <div class="paddingReg content">
            It is expected that students will take two courses per term
            throughout their programs. Since many students take one approved
            quarter-off (vacation term) per year during their program, the
            normal program length is 2 years (24 months) with the expectation
            that students will complete in this length of time. Students are
            given 3 years (36 months) to complete their programs as long as they
            are making satisfactory academic progress.
          </div>
        </div>
      </ul>
      <ul class="section">
        <div>
          <h1 class="heading content">Curriculum</h1>
          <div class="paddingReg">
            <h1 class="subtitledesc">Common Core (2 Courses)</h1>
            <ul class="course">
              <li id="catagory"><div>Course</div><div>Credit Hrs</div></li>
              <li>
                <div>
                  <p class="content">
                    <span class="bold">MGMT515</span> - Management that Transforms
                  </p>
                </div><div><p>4.5</p></div>
              </li>
              <li>
                <div>
                  <p class="content">
                    <span class="bold">TECH515</span> - Technology that Transforms
                  </p>
                </div><div><p>4.5</p></div>
              </li>
            </ul>
            <h1 class="subtitledesc">Program Core (5 Courses)</h1>
            <ul class="course">
              <li>
                <div>
                  <p class="content">
                    <b>DATA 521</b>&nbsp;- Tackling Big Data Challenges - Intro
                    to Big Data
                  </p>
                </div><div><p>4.5</p></div>
              </li>
              <li>
                <div>
                  <p class="content">
                    <b>DATA 522</b>&nbsp;- Solving Big Data Problems – Data
                    Analytics
                  </p>
                </div><div><p>4.5</p></div>
              </li>
              <li>
                <div>
                  <p class="content">
                    <b>DATA 524</b>&nbsp;- Information Visualization
                  </p>
                </div><div><p>4.5</p></div>
              </li>
              <li>
                <div>
                  <p class="content">
                    <b>INST 522 -&nbsp;</b>Database Design and Processing
                  </p>
                </div><div><p>4.5</p></div>
              </li>
              <li>
                <div>
                  <p class="content">
                    <b>QANT 510</b>&nbsp;- Statistics for Decision Making
                  </p>
                </div><div><p>4.5</p></div>
              </li>
            </ul>
            <h1 class="subtitledesc">Elective (4 Courses)</h1>
            <ul class="flex">
              <p>
                A minimum of 4 elective courses (18 credit hours) are required,
                which include at least one course from Elective Group 1 and one
                course from Elective Group 2.
              </p>
            </ul>
            <ul class="flex">
              <p>Elective Group 1</p>
            </ul>
            <ul class="course">
              <li>
                <div>
                  <p class="content">
                    <b>DATA 523</b> - Big Data Technologies<span class="bold"
                    ></span>
                  </p>
                </div><div><p>4.5</p></div>
              </li>
              <li>
                <div>
                  <p class="content">
                    <b>INST 525</b> - Business Intelligence and Data Warehousing<span
                      class="bold"></span>
                  </p>
                </div><div><p>4.5</p></div>
              </li>
              <li>
                <div>
                  <p class="content">
                    <b>DATA 526</b> - Advanced Analytics and Modeling<span
                      class="bold"></span>
                  </p>
                </div><div><p>4.5</p></div>
              </li>
              <li>
                <div>
                  <p class="content">
                    <b>DATA 530</b> - Demonstrated Solutions with Analytics<span
                      class="bold"></span>
                  </p>
                </div><div><p>4.5</p></div>
              </li>
            </ul>
            <ul class="flex">
              <p>Elective Group 2</p>
            </ul>
            <ul class="course">
              <li>
                <div>
                  <p class="content">
                    <b>QANT 525</b> - Probabilistic and Stochastic Models<span
                      class="bold"></span>
                  </p>
                </div><div><p>4.5</p></div>
              </li>
              <li>
                <div>
                  <p class="content">
                    <b>QANT 530</b> - Statistical Estimation and Regression Analysis<span
                      class="bold"></span>
                  </p>
                </div><div><p>4.5</p></div>
              </li>
            </ul>
            <h1 class="subtitledesc">Capstone (1 Course)</h1>
            <ul class="course">
              <li>
                <div>
                  <p><span class="bold">CAPS600</span> - Graduate Capstone</p>
                </div><div><p>4.5</p></div>
              </li>
            </ul>
          </div>
        </div>
      </ul>
    </section>
    <Footer />
  </main>
</Page>
