/* footer CSS */
footer{
	background: #f1f1f1;
    overflow: hidden;
}
footer *{
	box-sizing: border-box;
	outline: none;
}
footer section{}
footer ul{
    display:flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width:100vw;
    list-style-type: none;
    margin:0;
    padding:36px;
}
footer ul li{
    display: flex;
    align-content: center;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 20px;
    padding-left: 60px;
    margin: 12px;
    border-radius: 3px;
    cursor: pointer;
    position: relative;
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: 20px center;
}
footer .phone{
    background-image: url(/assets/img/phone.svg);
}
footer .email{
    background-image: url(/assets/img/email.svg);
}
footer .author{
    padding: 48px;
    background: #000;
    color:#fff;
    font-weight: normal !important;
    text-align: left;
        line-height: 30px;
}
footer .author a{
    color: #fff !important;
    font-weight: normal !important;
}
footer .author a:after{
    background-color:#fff !important;
}




@media (max-width: 800px){
    
}

footer .social-media{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  grid-gap: 20px;
  background: #fff !important;
}
footer .social-media img{
  width:50px;
  height:50px;
  object-fit:contain;
  object-position:center;
}