---

---

<style>
  .tools > * {
    position: relative;
    overflow: hidden;
    border-radius: 0px;
  }

  .tools .bg {
    background-image: url(/images/book.jpeg);
    height: 168px;
    width: 300px;
    object-fit: cover;
  }

  .tools h3 {
    position: absolute;
    bottom: 0;
    box-shadow: 0 -64px 28px -20px rgba(0, 0, 0, 0.8) inset;
    color: #fff;
    text-shadow: 0 3px 10px rgba(0, 0, 0, 1);
  }

  .margin {
    width: 300px;
  }
</style>
<ul class="flex tools">
  <li class="shadow flex column margin">
    <a href="https://outlook.office.com/" target="_blank">
      <div
        class="bg"
        style="background-image: url(https://cdn-e9de.kxcdn.com/images/book.jpeg);"
      >
      </div>
      <h3 class="h3">Student Portal</h3>
    </a>
  </li>
  <!--
    <li class="shadow flex column margin">
     <a href="http://outlook.com/uona.edu"><div class="bg" style="background-image: url(/images/mail.jpeg);"></div>
      <h3 class="h3">Email<br></h3></a>
      
    </li>
    -->
  <li class="shadow flex column margin">
    <a href="/catalogs">
      <div
        class="bg"
        style="background-image: url(https://cdn-e9de.kxcdn.com/images/catalog.jpeg);"
      >
      </div>
      <h3 class="h3">Catalog</h3>
    </a>
  </li>
  <!--
    <li class="shadow flex column margin">
     <a href="/classroomsearch.html">
      <div class="bg" style="background-image: url(/images/binoculars.jpg);"></div>
      <h3 class="h3">Classroom Search</h3>
      </a>
    </li>
    -->
  <li class="shadow flex column margin">
    <a href="/forms">
      <div
        class="bg"
        style="background-image: url(https://cdn-e9de.kxcdn.com/images/forms.jpg);"
      >
      </div>
      <h3 class="h3">Student Forms</h3>
    </a>
  </li>
  <!--
    <li class="shadow flex column margin">
        <a href="/services/esports">
            <div class="bg" style="background-image: url(/images/esports@400.jpg);"></div>
            <h3 class="h3">Esports</h3>
        </a>
    </li>
-->
  <!-- <li class="shadow flex column margin">
     <a href="https://go.case.edu/portal/student-advancement-axj404">
      <div class="bg" style="background-image: url(/images/calendar.jpg);"></div>
      <h3 class="h3">Make an Appointment</h3>
      </a>
    </li> -->
</ul>
